.taskAdder{
    padding-left: 25px;
    height: 45px;
    border-radius: 25px;
}

.kanban-board {
    position: relative;
    float: left;
    width: 300px;
    transition: all .3s cubic-bezier(.23, 1, .32, 1)
}

.kanban-board header {
    font-size: 16px;
    padding: 15px
}

.kanban-board .kanban-drag {
    min-height: 200px;
    padding: 20px
}

.kanban-item {
    padding: 15px;
    margin-bottom: 20px;
    transition: all .3s cubic-bezier(.23, 1, .32, 1);
    border-radius: 15px;
}

.kanban-item:hover {
    cursor: move
}

.kanban-item:last-child {
    margin: 0
}

.kanban-board-header {
    margin-bottom: -20px;
}
